@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing root variables... */

/* Image Text Container */
.image-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
    border-top: 2px solid #FACC15; /* yellow accent */
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.text-container {
    flex: 1;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    color: #374151; /* gray-700 text */
}

.text-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #111827; /* gray-900 for heading */
}

.text-container p {
    font-size: 1.25rem;
    color: #374151; /* gray-700 for paragraph */
}

/* New class for reversing the layout */
.image-text-container.reverse {
    flex-direction: row-reverse;
}

.image-text-container{
        background-color: rgb(255, 255, 255);
}

.image-text-container.reverse .text-container {
    text-align: left;
}

.text-container a {
    text-decoration: underline;
    color: #FACC15; /* yellow accent */
    font-size: 2rem;
}

.text-container a:hover {
    color: #FBBF24; /* slightly darker yellow on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .image-text-container {
        flex-direction: column;
    }

    .text-container {
        padding: 10px;
    }

    .text-container a {
        font-size: 1.5rem;
    }

    .image-text-container.reverse {
        flex-direction: column;
    }
}
